.danmaku-containers{
    position: relative;
}
.danmaku-containers  *{
    box-sizing: border-box;
}
.danmaku-containers .stage{
    position: absolute;
    overflow: hidden;
}
.danmaku-containers-debug *{
    border: 1px solid black;
}

